[submodule "x264"]
	path = x264
	url = https://github.com/qupai/x264.git
[submodule "freetype2"]
	path = freetype2
	url = git://git.savannah.gnu.org/freetype/freetype2.git
[submodule "libass"]
	path = libass
	url = https://github.com/libass/libass.git
[submodule "fontconfig"]
	path = fontconfig
	url = https://github.com/behdad/fontconfig.git
